<div class="text-center">
 <div class="bg-secondary" >File Candidates:</div>
 <div class="row">
  <div class="col">
   <table class="table table-sm table-striped">
     <tbody>
       <tr *ngFor="let candidate of fileCandidates">
         <td>
          <div>
            {{candidate.underlyingFileName}}
          </div>
          <button *ngIf="candidate.conflicts?.length > 0" class="btn btn-outline-warning" placement="right" [ngbPopover]="popContent" (click)="selectPopOver(candidate)">Candidate For Deletion</button>
        </td>
        <td>
          <button class="btn btn-outline-success" [routerLink]="['/admin/fileCandidates/register',candidate.hashedName]">Register</button>
          <button class="btn btn-outline-danger" (click)="open(content, candidate)">Delete</button>
        </td>
      </tr>
    </tbody>
   </table>
  </div>
 </div>

<ng-template #popContent>{{popOverCandidate.conflicts.join(',')}}</ng-template>
  <div class="form-inline float-left mr-1">
    <select class="form-control" [value]="itemsPerPage"
    (change)="changePageSize($event.target.value)">
     <option value="10">10</option>
     <option value="20">20</option>
     <option value="30">30</option>
     <option value="50">50</option>
    </select>
  </div>

  <div class="btn-group float-right">
   <button *counter="let page of pageNumbers" (click)="changePage(page)"
       class="btn btn-outline-primary"
   [class.active]="page == selectedPage">
    {{page}}
   </button>
 </div>

 <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm deletion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete file {{selectedCandidate.underlyingFileName}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('YES')">YES</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('NO')">NO</button>
  </div>
</ng-template>
