<div>
  <div id="header" class='bg-primary text-white'>
    <h3>Ebooks Library</h3>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <button class="btn btn-outline-primary" (click)="changeMenu(adminMenu)">
       {{adminMenu.name}}
      </button>
      <!--
      <button *ngFor="let menu in menuLinks" class="btn btn-outline-primary" (click)="changeMenu(menu)"
              [class.active]="menu == selectedMenu">
        {{menu.name}}
      </button>
      -->
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="footer" class="bg-secondary">
    Powered by:
    <img alt="ng-logo"/>
    <img alt="wildfly-logo"/>
    <img alt="keycloak-logo"/>
  </div>
</div>
