<div>
  <div id="header" class='bg-primary text-white text-center jumbotron'>
    <h1>Ebooks Library</h1>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <button *ngFor="let currentMenu of menuLinks" class="btn btn-outline-primary btn-block" (click)="changeMenu(currentMenu)"
      [class.active]="currentMenu == selectedMenu"
      [class.btn-outline-danger]="currentMenu.name === 'Admin'">
        {{currentMenu.name}}
      </button>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="footer" class="bg-secondary">
    Powered by:
    <img alt="ng-logo"/>
    <img alt="wildfly-logo"/>
    <img alt="keycloak-logo"/>
  </div>
</div>
