<div>
  <div id="header" class='bg-primary text-white text-center jumbotron'>
    <h1>Ebooks Library</h1>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <button *ngFor="let currentMenu of menuLinks" class="btn btn-outline-primary btn-block" (click)="changeMenu(currentMenu)"
      [class.active]="currentMenu == selectedMenu"
      [class.btn-outline-danger]="currentMenu.name === 'Admin'">
        {{currentMenu.name}}
      </button>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div id="footer" class="bg-secondary d-flex justify-content-between">
    <div>
      Powered by:
    <img alt="ng-logo" src='assets/angular_icon_final.png'/>
    <img alt="wildfly-logo" src='assets/wildfly_icon_final.png'/>
    <img alt="keycloak-logo" src='assets/keycloak_icon_final.png'/>
    </div>
      <div>
        Version: {{version}}
      </div>
 </div>
</div>
